*{
    margin: 0;
    padding: 0;
}
body {
    font-family: ui-monospace;
}
.abmain{
    height: 100%;
    width: 100%;
    background-color: bisque;
}
.headcont1 {
    display: flex;
    height: 50px;
    font-weight: 600;
    color: black;
    padding: 0 20px;
    align-items: center;
    background-color: cornflowerblue;
    justify-content: space-between;
}
.headpart1 {
    display: flex;
    column-gap: 42px;
}
.headpart2 {
    display: flex;
    column-gap: 42px;
}
.headtag {
    display: flex;
    column-gap: 18px;
}
.headtag1:hover,.headtag3:hover,.headtag5:hover{
   color: rgb(221, 14, 14);
}
.headicon {
    display: flex;
    column-gap: 15px;
}
.fb i{
    font-size: 14px;
}
.headcont2{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    color: white;
    background-color: black;
    align-items: center;
}
/* toggle start here */
.btn-primary{
    display: none;
}
/* toggle end here */
.headcont2sec2{
    display: flex;
    column-gap: 40px;
}
.headcont2sec3 {
    display: flex;
    column-gap: 25px;
}
.home{
   position: relative; 
   letter-spacing: 2px;
}
.home::before {
    content: "";
    height: 5px;
    width: 5px;
    top: 7px;
    left: -11px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
}

.home:hover{
    color: blue;
}
.home:hover::before {
    background-color: red;
}
.qutionsbtn button{
    height: 50px;
    width: 150px;
    color: white;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    transition: 2s;
}
.qutionsbtn:hover button{
    background-color: maroon;
}
.menutag{
    letter-spacing: 2px;
    font-size: 30px;
    display: flex;
    align-items: center;
    transition: 2s;
}
.menutag:hover{
   color: springgreen;
}
.about-cont2 {
    position: relative;
    height: 390px;
    background-color: rgb(219, 200, 151);
    width: 100%;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url(../img/jpg/landing-background-img-2.jpg);
}

.about-tag1{
    position: absolute;
    bottom: 80px;
    color: white;
    font-size: 60px;
    font-family: math;
    letter-spacing: 2px;
    font-weight: 600;
    left: 100px;
}
.abcop1 {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
}
.abcop1 img{
    width: 400px;
}
.about-cont3{
    height: 100%;
    width: 100%;
    padding: 30px 0;
}
.about-cont3img{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-cont3img img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.about-cont3part1{
    position: absolute;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    display: flex;
}
.abcoupleinfo{
    height: 342px;
    width: 500px;
    padding: 40px;
    text-align: center;
    color: black;
   transition: 4s;
   transform: scale(0);
}
.abcoupleinfo.active{
    transform: scale(1);
}
.abcouple1img{
    height: 400px;
    width:  0px; 
    transition: 4s;
}

.abcouple1img.active{
    width: 441px;
}
.abcouple1img img{
    height: 100%;
    border-radius: 139px 0;
    object-fit: cover;
    width:  100%; 
}
.abcoupleinfo h4 {
    font-size: 27px;
    color: brown;
}
.abcouple1img h1 {
    font-size: 45px;
    margin-top: 20px;
}
.abcoupleinfo h6 {
    font-size: 20px;
    margin-top: 9px;
    text-align: justify;
}
.abcoupleinfo button {
    width: 180px;
    background-color: #ee484885;
    border-radius: 12px;
    border: 1px solid brown;
    height: 50px;
    margin-top: 25px
}
.cont5mini {
    justify-content: center;
    column-gap: 75px;
    display: flex;
    margin-bottom: 50px;
}
.wedding-year,.celebration-year,.flower-bouquest, .sunny-days{
    height: 180px;
    border: 5px solid black;
    width: 180px;
    border-radius: 50%;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
#count, #count1, #count2, #count3 {
    font-size: 60px;
    font-family: fantasy;
    color: brown;
}

.wedding-year p,.celebration-year p,.flower-bouquest p,.sunny-days p{
    margin-bottom: 0;
}
.wedding-year h4,.celebration-year h4,.flower-bouquest h4,.sunny-days h4{
    text-align: center;
    font-size: 18px;
}
footer{
    background-color: burlywood;
}
.footsec1{
    padding: 30px 20px;
    display: flex;
    border-bottom: 1px solid rgb(161, 159, 159);
    justify-content: space-between;
}
.footicon{
    display: flex;
    column-gap: 11px;
}
.footfb,.footinsta,.foottwiter,.footlinked{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
}
.footfb:hover,.footinsta:hover,.foottwiter:hover,.footlinked:hover{
    background-color: maroon;
    color: white;
}
.footsec2{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.footinfo {
    display: flex;
    justify-content: space-around;
    column-gap: 70px;
}
.contact {
    display: flex;
    row-gap: 17px;
    flex-direction: column;
}
.contacttag {
    font-size: 36px;
}
.contact1,.contact2,.footemail,.footaddress  {
    font-size: 20px;
}
.subscrib {
    display: flex;
    row-gap: 17px;
    flex-direction: column;
}
.subscribtag {
    font-size: 36px;
}
.subscribtag2 {
    font-size: 20px;
}
.footinput {
    width: 100%;
    background-color: white;
}
.footinput input{
    height: 50px;
    border: transparent;
    padding-left: 20px;
}
.footbtn button{
    height: 40px;
    width: 120px;
    background-color: cornflowerblue;
}
.footbtn button:hover{
    background-color: maroon;
    color: white;
}
.foottitles {
    margin: 36px auto;
    border: 3px solid;
    padding: 20px 86px;
}
.footerend{
    font-size: 23px;
    text-align: center;
}
.ovation{
    font-size: 37px;
    text-align: center;
    margin-top: 20px;
}
.about-cont6{
    margin-top: 50px;
    padding: 50px 0;
    background-color: gray;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}
.cont6tag1{
    font-size: 20px;
    color: black;
    font-weight: 600;
    font-family: system-ui;
    letter-spacing: 2px;
}
.core{
    font-size: 45px;
    margin-top: 20px;
}
.cont6three-tag{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    color:black;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 20px;
}
.cont6main{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.abcont6img{
    height: 490px;
    width: 0px;
   transition: 4s;
}
.abcont6img.active{
    width: 400px;
}
.abcont6img img{
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
   
}
.modulation{
    height: 414px;
    text-align: justify;
    width: 610px;
    padding: 40px 35px;
    transition: 3s;
    padding-top:200px;
    opacity: -1;
}
.modulation.active{
    padding-top: 0px;
    opacity: 1;
}
.modulation h1{
    font-size: 43px;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin-top: 10px;
}
.modulation h2{
    letter-spacing: 2px;
    color: lavender;
}
.modulation p{
    letter-spacing: 1px;
    font-size: 16px;
    font-family: math;
    margin-top: 12px;
}
.manage-parstmain{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
.manage-parst{
    border-bottom: 3px solid #d9cece;
    position: relative;
}
.manage-parst::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 480px;
}
.manage-parst2{
    border-bottom: 3px solid #d9cece;
    position: relative;
}
.manage-parst2::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 3px;
    background-color: black;
}
.manage-parst3{
    border-bottom: 3px solid #d9cece;
    position: relative;
}
.manage-parst3::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 3px;
    background-color: black;
}
.modulation button{
    height: 55px;
    width: 190px;
    border-radius: 21px;
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    margin-top: 30px;
}
.home a{
    color: white;
    text-decoration: none;
}
@media only screen and (min-width : 320px) and (max-width : 500px) {
    /* toggle css start here */
    .btn-primary {
        display: block;
       }
      .offcanvas-body{
        background-color: #343030ab;
      }
      .toggle-tag1 a{
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: transparent;
      }
      .toggle-tag1{
        width: 100%;
        margin-top: 20px;
        height: 40px;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: maroon;
      }
      /* toggle css end here */
      .headcont2sec3 {
        display: none;
    }
    .headpart1,.headtag,.qutionsbtn {
      display: none;
    }
    .headcont1{
     justify-content: center;    
    }
    .headcont2sec2{
     display: none;
    }
    .headcont2{
         padding: 0 20px;
         justify-content: space-between;
    }
    .about-cont2{
         background-position-x: center;
    }
    .about-tag1{
        text-align: center;
        width: 100%;
        left: 0px;
        font-size: 52px;
    }
    .about-cont3img{
        height: 100%;
        position: inherit;
    }
    .about-cont3part1{
        position: inherit;
        width: 100%;
        flex-direction: column;
        /* row-gap: 63px; */
        padding: 31px 30px;
    }
    .abcoupleinfo{
        padding: 0;
        width: fit-content;
        height: 100%;
        transform:scale(0)
    }
    .abcoupleinfo.active {
        transform:scale(1)
    }
    .abcoupleinfo h6{
        text-align: center;
    }
    .abcouple1img.active {
        width: 100%;
    }
    .abcouple1img{
        height: 350px;
        width: 100%;
        margin-top: 50px;
    }
    .cont5mini{
        flex-direction: column;
        row-gap: 30px;
    }
    .wedding-year, .celebration-year, .flower-bouquest, .sunny-days{
        margin: 0 auto;
    }
    .about-cont6{
        padding: 50px 20px;
        width: auto;
    }
    .core{
        font-size: 30px;
    }
    .cont6three-tag{
        line-height: 39px;
        margin-top: 7px;
        flex-wrap: wrap;
    }
    .cont6main{
        margin-top: 30px;
        flex-wrap: wrap;
        row-gap: 40px;
    } 
    .abcont6img.active {
        width: 100%;
    }
    .abcont6img{
        width: 100%;
        margin: 0 30px;
        height: 357px;
    }
    .modulation h1{
        font-size: 39px;
    }
    .manage-parst::before{
        width: 80%;
    }
    .manage-parst2::before{
        width: 70%;
    }
    .manage-parst3::before{
        width: 65%;
    }
    .modulation{
        padding: 40px 0px;
        height: 100%;
        width: 100%;
    }
    .footinfo {
        flex-wrap: wrap;
        justify-content: start;
        row-gap: 34px;
        }
        .footinfo{
            flex-wrap: wrap;
            row-gap: 25px;
        }
        .footsec1{
            row-gap: 25px;
            flex-wrap: wrap;
        }
        .footinput {
            width: 100%;
            background-color: white;
        }
        .footinput input {
            height: 50px;
            border: transparent;
            padding-left: 20px;
            width: fit-content;
        }
        .foottitles{
            display: none;
        }
        .ovation{
            font-size: 34px;
            text-align: left;
            margin-top: 20px;
        }
        .footerend {
            margin-top: 15px;
            font-size: 23px;
            text-align: left;
       }
       .subscrib{
            width: 100%;
       }
       .contacttag {
        font-size: 33px;
        }
       .subscribtag {
        font-size: 34px;
        }
       .contact{
        row-gap: 9px;
       }
}
@media only screen and (min-width : 501px) and (max-width : 768px) {
      
      /* toggle css start here */
      .btn-primary {
        display: block;
       }
      .offcanvas-body{
        background-color: #343030ab;
      }
      .toggle-tag1 a{
        color: white;
        width: 100%;
        text-align: center;
        text-decoration: transparent;
      }
      .toggle-tag1{
        width: 100%;
        margin-top: 20px;
        height: 40px;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        background-color: maroon;
      }
      /* toggle css end here */
      .headcont2sec3 {
        display: none;
    }
    .headpart1,.headtag,.qutionsbtn {
        display: none;
      }
      .headcont1{
       justify-content: center;    
      }
      .headcont2sec2{
       display: none;
      }
      .headcont2{
           padding: 0 20px;
           justify-content: space-between;
      }
      .about-cont2{
           background-position-x: center;
      }
      .about-tag1{
          text-align: center;
          width: 100%;
          left: 0px;
          font-size: 52px;
      }
      .about-cont3img{
          height: 100%;
          position: inherit;
      }
      .about-cont3part1{
          position: inherit;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          /* row-gap: 63px; */
          padding: 31px 60px;
      }
      .abcoupleinfo{
          padding: 0;
          width: fit-content;
          height: 100%;
          transform: scale(0)
      }
      .abcoupleinfo.active {
          transform: scale(1)
      }
      .abcoupleinfo h6{
          text-align: center;
      }
      .abcouple1img.active {
          width: 100%;
      }
      .abcouple1img{
        display: ruby;
        height: 490px;
        width: 380px;
        text-align: center;
        margin-top: 50px;
      }
      .abcouple1img img{
        border-radius: 172px 0;
      }
      .cont5mini{
        flex-direction: inherit;
        row-gap: 30px;
        margin: 0 60px;
        flex-wrap: wrap;
      }
      .wedding-year, .celebration-year, .flower-bouquest, .sunny-days{
          margin: 0 auto;
      }
      .about-cont6{
          padding: 50px 60px;
          width: auto;
      }
      .core{
          font-size: 30px;
      }
      .cont6three-tag{
          line-height: 39px;
          margin-top: 7px;
          flex-wrap: wrap;
      }
      .cont6main{
          margin-top: 30px;
          flex-wrap: wrap;
          row-gap: 40px;
      } 
      .abcont6img.active {
          width: 100%;
      }
      .abcont6img{
          width: 100%;
          height: 490px;
          display: ruby;
      }
      .modulation h1{
          font-size: 39px;
      }
      .manage-parst::before{
          width: 80%;
      }
      .manage-parst2::before{
          width: 70%;
      }
      .manage-parst3::before{
          width: 65%;
      }
      .modulation{
          padding: 40px 0px;
          height: 100%;
          width: 100%;
      }
     /* footer css start here */
     .footinfo {
        flex-wrap: wrap;
        justify-content: start;
        row-gap: 34px;
        }
        .footinfo{
            flex-direction: column;
            row-gap: 25px;
        }
        .footsec1{
            row-gap: 25px;
            flex-wrap: wrap;
            padding: 30px 60px;
        }
        .footsec2{
            padding: 60px 60px;
        }
        .footinput {
            width: 100%;
            background-color: white;
        }
        .footinput input {
            height: 50px;
            border: transparent;
            padding-left: 20px;
            width: fit-content;
        }
        .foottitles{
            display: none;
        }
        .ovation{
            font-size: 34px;
            text-align: left;
            margin-top: 20px;
        }
        .footerend {
            margin-top: 15px;
            font-size: 23px;
            text-align: left;
       }
       .subscrib{
            width: 100%;
       }
    }
@media only screen and (min-width : 769px) and (max-width : 1024px) {    
    .headtag{
        display: none;
    }
    .headcont2sec3{
        display: none;
    }
    .about-cont3part1{
        column-gap: 30px;
        padding: 0 25px;
        width: auto;
    }
    .abcouple1img.active {
        width: 350px;
    }
    .abcoupleinfo{
        width: 50%;
        padding: 0;
    }
    .cont5mini {
        row-gap: 30px;
        flex-wrap: wrap;
    }
    .modulation {
        height: 100%;
        width: 50%;
        padding: 40px 0
    }
    .cont6main{
        padding: 0 25px;
        column-gap: 25px;
    }
    .manage-parst::before{
        width: 80%;
    }
    .manage-parst2::before{
        width: 70%;
    }
    .manage-parst3::before{
        width: 65%;
    }
    .abcont6img.active {
        width: 350px;
    }
    .footsec1{
        padding: 30px 25px;
    }
    .footsec2{
        padding: 60px 25px;
    }
    .footinfo{
        row-gap: 30px;
        column-gap: 20px;
        flex-wrap: wrap;
    }
    .foottitles{
        padding: 20px 30px;
    }
}
@media only screen and (min-width : 1025px) and (max-width : 1200px) {
    .abcoupleinfo{
        padding: 0;
    }
    .cont6main{
        column-gap: 20px;
        padding: 0 30px;
    }
    .modulation{
        padding: 40px 0;
    }
    .footinfo {
        column-gap: 23px;
    }
}

